
.gameOanTuTi{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/bgGame.png');
    background-size: 100%;
    font-family: fontGame;
}
@font-face {
    font-family: 'fontGame';
    src: url(.././BTGameOanTuTi/font/Pony.ttf);
}

.theThink{
    border: 5px solid #45D994;
    width: 200px;
    height: 150px;
    background-color: #fff;
    border-radius: 15px;
}
.btnItem {
    width: 50px;
    height: 50px;
}

.playerGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speech-bubble {
	position: relative;
	background: #45D994;
	border-radius: .4em;
	
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #45D994;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
}